body{
        background:url(https://th.bing.com/th/id/OIP.WeZrvgNiAbtqEfyXSQBsXAHaEK?w=326&h=183&c=7&r=0&o=5&dpr=1.3&pid=1.7) 
        repeat-y bottom left aqua ;
     text-align:center ;
     font-family: sans-serif;
}

#p1{
        color: aqua;
}

.p2{
        color: blueviolet;
}

.p3{
        color: brown;
}

.p4{
        color: blue;
}

h1, h2{
        color: blueviolet;
        text-align: left;
}