p{
    text-indent:1199px ;

}

h1{
    color:green ;
    font-size:100px ;
    text-transform: capitalize;
    font-family:sans-serif ;
}

body{
    text-align: center;
}
h5{
    font-weight:lighter ;
    font-style:normal ;
    font-family:georgia ;
}